{% extends 'base.html' %}

{% block header %}
  <h1 style="text-align: center;">{% block title %}{{ forgotYourPassword }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p class="forgotPassword">{{ enterYourEmailAddress }}</p>

  <form method="post">
    <label for="email">{{ email }}</label>
    <input type="email" name="email" id="email" required placeholder="{{ _('EnterYourEmail') }}">

    <input type="submit" class="buttonHand" value="{{ _('Reset password') }}">
  </form>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}