{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ register }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">{{ username }}</label>
    <input type="username" name="username" id="username" required>

    <label for="email">{{ email }}</label>
    <input type="email" name="email" id="email" required>

    <label for="password">{{ password }}</label>
    <input type="password" name="password" id="password" required>

    <label for="password">{{ confirmPassword }}</label>
    <input type="password" name="confirmpassword" id="confirmpassword" required>

    <input type="submit" class="buttonHand" value="{{ _('Register') }}">
  </form>
{% endblock %}