{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ login }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">{{ username }}</label>
    <input type="username" name="username" id="username" required>

    <label for="password">{{ password }}</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" class="buttonHand" value="{{ _('Log In') }}">
  </form>
   <!-- Link para redirecionar para a página de registro -->
   <p class="dontHaveAccount">{{ dontHaveAccount }} <a href="{{ url_for('auth.register') }}">{{ registerHere }}</a></p>

     <!-- Link para a página de recuperação de senha -->
   <p class="forgotPassword">{{ forgotYourPassword }}  <a href="{{ url_for('auth.forgot_password') }}">{{ resetItHere }}</a></p>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}